.vs/*
Fushigi/.vs/*
.idea/*
Fushigi/.idea/*
Fushigi/bin/*
Fushigi/obj/*
Fushigi.Byml/.vs/*
Fushigi.Byml/bin/*
Fushigi.Byml/obj/*
Fushigi.Bfres/.vs/*
Fushigi.Bfres/bin/*
Fushigi.Bfres/obj/*
Fushigi.Msbt/.vs/*
Fushigi.Msbt/bin/*
Fushigi.Msbt/obj/*
SARC/bin/*
SARC/obj/*
.DS_Store
ConsoleApp1/*
ConsoleApp2/*
Fushigi/imgui.ini
Fushigi/ShaderCache/
Fushigi/actors.json
Fushigi/components.json
Fushigi/railParams.json
Fushigi/rails.json
Fushigi/output.log
