.vs/*
Fushigi/.vs/*
.idea/*
Fushigi/.idea/*
Fushigi/bin/*
Fushigi/obj/*
Fushigi.Byml/.vs/*
Fushigi.Byml/bin/*
Fushigi.Byml/obj/*
Fushigi.Bfres/.vs/*
Fushigi.Bfres/bin/*
Fushigi.Bfres/obj/*
SARC/bin/*
SARC/obj/*
.DS_Store